{%extends 'shop/base.html'%}
{%block content%}

<section id="form-details" class="profile-details">
	<div class="profile-info">	
		<img src="{{request.user.profile.image.url}}">
	</div>

	<form method="POST" enctype="multipart/form-data">
		{%csrf_token%}
		{{u_form}}
		{{p_form}}
		<button class="normal">Update</button>
	</form>
</section>

<section id="product1" class="section-p1 profile-orders">
	<h3>Orders <i class="fa-solid fa-cart-plus"></i></h3>
	<div class="pro-container">
		<div id="order-row"> 
			{%for orderss in orders%}
				{%for order in orderss.item.all%}	
					<div class="pro" onclick="window.location.href='{%url 'orderDetail' order.id%}'">
						<img src="{{order.item.image.url}}" alt="">
						<div class="des">
							<span>{{order.item.company}}</span>
							<h5>{{order.item.name}}</h5>
							<h4>${{order.item.price}}</h4>
							<p>ordered on {{orderss.ordered_date}}</p>
						</div>
					</div>
				{%endfor%}
			{%endfor%}
		</div>
	</div>
	
	<hr>

	<div id="likedProducts">
		<h3>liked Products <i class="fa-solid fa-heart" id="liked"></i></h3>
		<div class="pro-container"> 
			{%for product in likedProducts%}	
				<div class="pro" onclick="window.location.href='{%url 'detail' product.id%}'">
					<img src="{{product.image.url}}" alt="">
					<div class="des">
						<span>{{product.company}}</span>
						<h5>{{product.name}}</h5>
						<h4>${{product.price}}</h4>
					</div>
				</div>
			{%endfor%}
		</div>
	</div>

</section>


{%endblock content%}