#form-details .profile-info{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 0px auto;
}

#form-details .profile-info div{
	margin: auto;
	text-align: justify;
}

#form-details .profile-info img{
    height: 28vh;
    border-radius: 50%;
    width: 200px;
    margin-top: 3rem;
}

#form-details form legend{
	margin-bottom: 20px;
	margin: auto;
	font-weight: 700;
}

.helptext{
	display: none;
}


/*          ---------------------------        ORDER DETAILS CARD          ------------------------ */


.pro-container #order-row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
}

.profile-orders .fa-cart-plus{
    color: #26a3a7;
}

.profile-orders .pro-container{
    justify-content: flex-start;
    margin-bottom: 20px;
}

.profile-orders h3{
    font-size: 30px;
}

#order-row .pro{
    width: 15%;
    margin: 10px;
}

#order-row p{
    margin:5px 0 5px 0;
    text-align: left;
    font-size: 13px;
}
#likedProducts{
    margin-top: 20px;
}

#likedProducts .pro-container{
    justify-content: flex-start;
}

#likedProducts .pro{
    margin: 10px;
    width: 15%;
}

